.orange{
  color: orange;
}

.profile-box{
  position: relative;
  width: 400px;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  border-radius: 20px;
  margin-bottom: 1rem;
  box-shadow: 11px 10px 19px -7px rgba(0,0,0,0.14);
  -webkit-box-shadow: 11px 10px 19px -7px rgba(0,0,0,0.14);
  -moz-box-shadow: 11px 10px 19px -7px rgba(0,0,0,0.14);
}

.photo{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.new{
  position: absolute;
  left: 65%;
  top: 10%;
  background-color: aqua;
  padding: 0.2rem 0.3rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
}